{% extends 'users/base.html' %} {% load static %}
<!-- freeze -->
{% block content %}
<div class="sorry">
  <h1>Oh-la-la</h1>
  <h3>Sorry....</h3>
  <p>
    Alas, dear visitor, it appears we've encountered an unexpected detour on our
    digital journey. The page you seek eludes us, like a whisper lost in the
    wind. Our humble apologies for this unforeseen hiccup in your exploration.
  </p>
  <p>
    Fear not, for this moment of confusion shall pass. Though the path you tread
    has led to an empty chamber, countless other wonders await your discovery
    within our digital realm. Perhaps fate has conspired to guide you towards
    even greater revelations.
  </p>
  <p>
    We implore you to consider this not as an end, but as a new beginning. Might
    we suggest retracing your steps to our welcoming homepage? Or perchance,
    you'd prefer to embark on a quest through our site map, unveiling hidden
    treasures along the way. Whatever path you choose, know that we stand ready
    to assist you in your journey through our digital tapestry.
  </p>
  <!-- <img src="{% static 'images/logo.png' %}" alt="Sorry Goose" /> -->
</div>

{% endblock %}
