* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Baskervville SC", serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #f5f5f5;
  padding: 15px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-height: 60px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  font-weight: 600;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #7fa1c3;
}

.btn-register {
  background-color: #6482ad;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.btn-register:hover {
  background-color: #ffffff;
  color: #6482ad;
  box-shadow: -8px 11px 13px -2px rgba(34, 60, 80, 0.2);
}

main {
  padding: 40px 0;
}

footer {
  background-color: #f8f8f8;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}

/* HOME */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
  text-align: center;
  position: relative;
}

.home h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #333;
}

.home h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #666;
}

.home button {
  font-family: "Baskervville SC", serif;
  background-color: #6482ad;
  color: white;
  padding: 15px 30px;
  font-size: 1.1rem;
  border-radius: 5px;
  border: #333 1px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.home button:hover {
  background-color: #ffffff;
  color: #6482ad;
  box-shadow: -8px 11px 13px -2px rgba(34, 60, 80, 0.2);
}

.home-logo {
  position: absolute;
  bottom: 20px;
  right: 20px;
  max-width: 300px;
  transition: transform 0.3s ease;
}

.home-logo:hover {
  transform: scale(1.1);
}

/* ABOUT */
.about {
  position: relative;
  padding: 20px;
  text-align: center;
}

.about h2 {
  margin-bottom: 20px;
}

.about p {
  text-align: left;
  text-indent: 20px;
  margin-bottom: 15px;
}
/* 
REGISTRATION PAGE */
.registration {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: -8px 11px 13px -2px rgba(34, 60, 80, 0.2);
}

.registration h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.registration form {
  display: flex;
  flex-direction: column;
}

.registration form p {
  margin-bottom: 15px;
}

.registration form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.registration form button {
  font-family: "Baskervville SC", serif;
  padding: 15px 30px;
  font-size: 1.1rem;
  background-color: #6482ad;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.registration form button:hover {
  background-color: #ffffff;
  color: #6482ad;
  box-shadow: -8px 11px 13px -2px rgba(34, 60, 80, 0.2);
}

.registration form p:last-child {
  text-align: center;
  margin-top: 15px;
}

.registration form p:last-child a {
  text-decoration: none;
  color: #007bff;
}

.registration form p:last-child a:hover {
  color: #0056b3;
}
