{% extends 'users/base.html' %} {% load static %}
<!-- freeze -->
{% block content %}
<div class="about">
  <h1>About Us Page</h1>
  <p>
    Herein we present our esteemed enterprise, symbolized by the noble white
    goose, a paragon of efficiency and grace.
  </p>
  <p>
    Our company stands at the vanguard of digital innovation, offering a
    sophisticated URL reduction service that epitomizes the confluence of
    simplicity and technological prowess.
  </p>
  <p>
    Our proprietary platform, meticulously engineered and rigorously tested,
    facilitates the expeditious truncation of unwieldy Uniform Resource
    Locators, thereby engendering a more streamlined and efficacious online
    experience for our distinguished clientele. In accordance with the highest
    standards of data security and user privacy, we assure our patrons of the
    utmost discretion and integrity in the handling of their abbreviated digital
    pathways.
  </p>
  <p>
    Established in the year of our Lord 1993, our venerable institution has
    since attained the prestigious status of a publicly traded entity, with our
    shares being actively exchanged on the open market. It is with great pride
    and humility that we announce the achievement of a significant milestone:
    through the diligent application of our services, we have successfully
    abbreviated in excess of one million (1,000,000) hyperlinks, a testament to
    the trust and confidence placed in our platform by our esteemed users.
  </p>
</div>

{% endblock %}
