{% extends 'users/base.html' %}
<!-- freeze -->
{% block content %}
<div class="profile">
  <div class="user-profile">
    <h1>Profile Page</h1>
    <p><strong>{{ user.username}}</strong></p>
    {% if user.email %}
    <p>{{ user.email }}</p>
    {% else %}
    <p>No email address provided</p>
    {% endif %}
    <form id="logout-form" method="post" action="{% url 'exit' %}">
      {% csrf_token %}
      <button type="submit">LogOut</button>
    </form>
  </div>
  <div class="update-profile">
    <h2>Update User Info:</h2>
    <form method="POST">
      <!-- freeze -->
      {% csrf_token %} {{ updateUserForm.as_p}}
      <button type="submit">Update Profile</button>
    </form>
  </div>
</div>

{% endblock %}
